
.page.security { }

.page.security ol { margin: 0; padding: 0; list-style: none; }
li.card { 
	display: inline-block; padding: 0.5rem 1rem; border: 2px solid var(--blue); margin-right: 0.5rem; border-radius: 3rem; 
	background-color: #747caa20; cursor: pointer; white-space: nowrap; margin-bottom: 0.5rem;
}
li.card .icon { margin-right: 0.5rem; font-size: 1.3rem; line-height: 0; vertical-align: sub; }
li.card:hover { background-color: #747caa60; }

.bicolumn { display: flex; flex-flow: row nowrap; align-items: stretch; gap: 1rem; }
.bicolumn > div { flex: 1 1 50%; min-width: 17rem; }
.bicolumn > div > p { text-align: center; }
.bicolumn > div > ol { list-style: none; border: 1px solid #0004; padding: 1rem; width: 100%; height: 15rem; overflow: auto; }